.salary {
	@extend %flexbox;
	@include align-items(flex-end);
	line-height: 1;
	&__label {

	}
	&__currency {
		font-size: 16px;
	}
	&__value {
		font-size: 18px;
		font-weight: 600;
		margin-left: 5px;
	}
}