.vacancy-item {
	background-color: white;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	color: #4a4a4a;
	font-size: 16px;
	padding: 15px 20px;
	margin-bottom: 15px;
	margin-left: -20px;
	margin-right: -20px;
	&__header {
		margin-bottom: 12px;
	}
	&__name {
		color: #333333;
		font-size: 24px;
		font-weight: 600;
		a, & {
			color: #333333;
			text-decoration: none;
			@include transition(.2s);
		}
		a {
			&:hover {
				color: #777777;
			}
		}
	}
	&__employer {

	}
	&__salary {
		@include flexbox();
	}
	&__prop {
		@include flexbox();
		margin-top: 5px;
	}
	&__icon {
		@include flex-shrink(0);
		text-align: center;
		width: 30px;
		margin-right: 5px;
	}
	&__prop-label {
		@include flex-shrink(0);
		width: 120px;
	}
}