// Center-align a block level element

@mixin container() {
	box-sizing: border-box;
  @include center-block();
  @include media-breakpoint-up(lg){
  	width: $container-lg;
  }
  @include media-breakpoint-only(md){
  	width: $container-md;
  }
  @include media-breakpoint-only(sm){
  	width: $container-sm;
  	padding-left: 30px;
  	padding-right: 30px;
  }
  @include media-breakpoint-down(xs){
  	padding-left: 30px;
  	padding-right: 30px;
  	width: 100%;
  }
}

.container {
	@include container();
}